.input {
	/* light grey */
	border: 3px solid #d3d3d3;
	flex: 1;
	width: 100%;
	padding: 12px;
	border-radius: 8px;
	font-size: 16px;
	outline: none;
	transition: border-color 0.3s, background-color 0.3s;
}
.input:focus {
	/* change gray */
	border: 3px solid rgb(153, 19, 18, 0.6);
	/* #5a5a5a; */
}
